<!DOCTYPE html>
<html>
    <head>
        <title>Nicolas Pereira</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/timeline.css">
    </head>
    <header>
        <div id="Accueil"></div>
        <br>
        <br>
        <nav class="fixed-top navbar navbar-expand-lg">
            <h1 class="navbar-toggler" type="h1" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                MENU
            </h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <img class="navbar-toggler-icon" src="./images/Bouton de Nav.png" alt="Menu"> 
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav"> 
                    <!-- dropdown = liste -->
                    <a class="nav-item h5 active" href="/#Accueil">Accueil</a>
                    <a class="nav-item h5"  href="/#Formations">Formations</a>
                    <a class="nav-item h5"  href="/#Experiences">Expériences</a>
                    <a class="nav-item h5"  href="/#Realisations">Réalisations</a>
                    <a class="nav-item h5"  href="/#Centre_dinteret">Centre&nbspd'intêret</a>
                    <a class="nav-item h5"  href="/#Contact">Contact</a>
                </ul>
            </div>
        </nav>
    </header>

    <body>
        <img src="./images/fond.jpg" alt="Main Photo" width="100%" height="100%" />
        <div class="myName">
            <div>
                <a class="display-2" href="resources/CV_Nicolas_Pereira.pdf">Nicolas Pereira</a>
                <p>Développeur Full Stack à Lille</p>
            </div>
        </div>

        <section class="section1">
            <div class="container pardessu">
                <div class="card">
                    <h3 class="card-header gras">Salut ! &#128515</h3>
                    <div class="card-body">
                    <h5 class="card-title">Moi c'est <span class="gras">Nicolas,</span></h5>
                    <p class="card-text"><span class="gras">Grand passionné</span> de jeux vidéos, je ne suis pas (que) le cliché du <span class="gras">geek</span> lambda ! Bien qu'au lycée pour moi "informatique" rimait avec jeu vidéo, j'ai vite compris que ce domaine ne se limitait pas à ça. 
                        Aujourd'hui si on me demandait pourquoi <span class="gras">j'aime ce secteur</span> je répondrais sans hésiter que c'est parce qu'il me permet de <span class="gras">m'exprimer</span> au travers de mon travail. J'ai toujours aimé <span class="gras">créer</span> et être développeur m'apporte une réelle <span class="gras">satisfaction</span> au quotidien.</p>
                    <p><span class="gras">Au-delà</span> de mon côté geek, je suis un grand <span class="gras">amoureux</span> des sports de glisse (skateboard, snowboard, surf), des <span class="gras">sorties entre copains</span> et de la vulgarisation scientifique.</p>
                    <a href="resources/CV_Nicolas_Pereira.pdf" class="btn btn-outline-dark">Consulter mon CV</a>
                    <a href="#Contact" class="btn btn-dark">Me contacter</a>
                    </div>
                </div>
            </div>
            <br>
            <div id="Formations"></div>
            <br>  
            <br>  
            <br>  
            <br>  
            <br>
            <h1 class="text-center display-4 gras">•&nbspFormations&nbsp•</h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </section>

        
        <section class="section2">
            <div class="container py-5 formations">            
                <div class="row">
                    <div class="col-lg-9 mx-auto pardessu">
                        <ul class="timeline pardessu">               
                            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                <div class="timeline-arrow"></div>
                                <h3 class="h3 gras">Master MIAGE</h3>
                                <span class="small text-gray">
                                    <i class="fa fa-clock-o mr-1"></i>De <span class="gras">2020</span> à <span class="gras">Aujourd'hui</span> à l'université de Lille.
                                </span>
                                <br>
                                <p class="text-small mt-2 font-weight-light">
                                    Cette année je suis entré en première année de Master MIAGE (Méthodes informatiques appliquées à la gestion d'entreprise) suite à mon année de Licence.
                                    J'ai étudié la partie Objet du <span class="gras">Python</span> et apprendre le langage fonctionnel <span class="gras">Ocaml</span>
                                </p>
                            </li>
                            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                <div class="timeline-arrow"></div>
                                <h3 class="h3 gras">Licence 3 MIAGE</h3>
                                <span class="small text-gray">
                                    <i class="fa fa-clock-o mr-1"></i>De <span class="gras">2019</span> à <span class="gras">2020</span> à l'université de Lille.
                                </span>
                                <br>
                                <p class="text-small mt-2 font-weight-light">
                                    Suite à mon DUT j'ai décidé de poursuivre mes études en Licence MIAGE dans le but d'obtenir un Master MIAGE.
                                    Cette année m'a permis de développer mes compétences notamment en <span class="gras">Javascript</span> en découvrant différents framework comme <span class="gras">React, Angular, Vue ainsi que Node.js</span>.
                                </p>
                            </li>
                            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                <div class="timeline-arrow"></div>
                                <h3 class="h3 gras">DUT informatique</h3>
                                <span class="small text-gray">
                                    <i class="fa fa-clock-o mr-1"></i>De <span class="gras">2017</span> à <span class="gras">2019</span> à l'université de Lille.
                                </span>
                                <br>
                                <p class="text-small mt-2 font-weight-light">
                                    Suite à l'obtention de mon baccalauréat, j'ai débuté mes études dans le supérieur avec un DUT informatique.
                                    Ces deux années ont été très instructives sur le plan technique. J'ai pu apprendre à développer des serveurs web en <span class="gras">Java JEE</span> déployés via des serveurs <span class="gras">Tomcat</span>.
                                </p>
                            </li>
                            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                <div class="timeline-arrow"></div>
                                <h3 class="h3 gras">Baccalauréat scientifique Maths/SVT</h3>
                                <span class="small text-gray">
                                    <i class="fa fa-clock-o mr-1"></i>De <span class="gras">2015</span> à <span class="gras">2017</span>.
                                </span>
                                <br>
                                <p class="text-small mt-2 font-weight-light">
                                    J'ai toujours aimé les sciences, je suis quelqu'un de très <span class="gras">curieux</span> qui ne cesse de remettre en question le monde qui nous entoure.
                                    Ce bac était donc fait pour moi ! Bien qu'au lycée je n'avais aucune matière en lien avec l'informatique, j'ai commencé à apprendre la <span class="gras">Java</span> par moi même grâce au site du zéro et aux nombreux tutos disponibles sur Youtube.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="Experiences"></div>
        <br>  
        <br>
        <br>
        <br>  
        <br>
        <h1 class="text-dark text-center display-4 gras">•&nbspExpériences&nbsp•</h1> 
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        </section>

        
        <section class="section1">
            <div class="container py-5 experiences">            
                <div class="row">
                    <div class="col-lg-9 mx-auto pardessu">
                        <ul class="timelineR pardessu">               
                            <li class="timeline-itemR bg-dark rounded ml-3 p-4 shadow">
                                <div class="timeline-arrowR"></div>
                                <h3 class="h3 gras">Tuteur à l'IUT</h3>
                                <span class="small text-white">
                                    <i class="fa fa-clock-o mr-1"></i>De <span class="gras">2019</span> à <span class="gras">2020</span> à l'IUT de Villeneuved'Ascq.
                                </span>
                                <br>
                                <p class="text-small text-white mt-2 font-weight-light">
                                    Après avoir obtenu mon DUT informatique je me suis inscrit au tutorat.<span style="display: none;" id="plusTutorat"> Ma mission était d'accompagner <span class="gras">des groupes d'étudiants</span> en donnant leur des conseils et en les aidant à mieux comprendre leurs TPs. Nous nous voyons <span class="gras">deux fois par semaine</span>, souvent sur les heures du midi entre mes cours de Licence 3 MIAGE.
                                    J'aime beaucoup <span class="gras">partager</span> mes connaissances et je pense que ces échanges m'ont aussi beaucoup appris.
                                </span></p>
                                <button onclick="lirePlus('Tutorat')" id="BoutonLireTutorat" class="btn btn-light">Lire plus</button>
                            </li>         
                            <li class="timeline-itemR bg-dark rounded ml-3 p-4 shadow">
                                <div class="timeline-arrowR"></div>
                                <h3 class="h3 gras">Stage développeur Web chez <a href="https://www.sofar.gr/"><span class="gras" style="text-decoration: underline;">SoFar</span></a></h3>
                                <span class="small text-white">
                                    <i class="fa fa-clock-o mr-1"></i>De avril à juillet <span class="gras">2019</span> chez Sofar à Zakynthos en Grèce.
                                </span>
                                <br>
                                <p class="text-small text-white mt-2 font-weight-light">
                                    Lors de mon DUT, j'ai été sélectionné pour pouvoir effectuer mon <span class="gras">stage à l'étranger</span>.<span style="display: none;" id="plusSofar"> Je suis donc parti 4 mois en Grèce pour travailler chez <a href="https://www.sofar.gr/"><span class="gras">SoFar</span></a> en tant que développeur web.
                                    Là bas j'ai pu développer un <span class="gras">service web en Java</span> tournant sur un serveur tomcat utilisant Optaplanner qui permettait d'optimiser le réseau de bus local. Cette expérience m'a poussé à <span class="gras">me dépasser</span>.
                                    Elle m'a permis de tester mes compétences <span class="gras">en entreprise</span> et de beaucoup travailler mon Anglais.
                                </span></p>
                                <button onclick="lirePlus('Sofar')" id="BoutonLireSofar" class="btn btn-light">Lire plus</button>
                                <a href="resources/Intership Report Nicolas Pereira.pdf" class="btn btn-outline-light">Consulter mon rapport de stage</a>
                            </li>       
                            <li class="timeline-itemR bg-dark rounded ml-3 p-4 shadow">
                                <div class="timeline-arrowR"></div>
                                <h3 class="h3 gras">Agent Polyvalent</h3>
                                <span class="small text-white">
                                    <i class="fa fa-clock-o mr-1"></i>De <span class="gras">2019</span> à <span class="gras">2020</span> chez Lidl à Comines.
                                </span>
                                <br>
                                <p class="text-small text-white mt-2 font-weight-light">
                                    Durant mon année de Licence 3 MIAGE, j'ai travaillé en tant qu'agent polyvalent chez Lidl.<span style="display: none;" id="plusLidl"> Cette expérience m'a permis de <span class="gras">mieux appréhender</span> les métiers de la grande distribution.
                                    <br>Si un jour dans mon travail j'étais amené à <span class="gras">développer une application</span> pour ce corps de métier, je pense pouvoir mieux <span class="gras">comprendre les attentes</span> du personnel.
                                </span></p>
                                <button onclick="lirePlus('Lidl')" id="BoutonLireLidl" class="btn btn-light">Lire plus</button>
                            </li>
                            <li class="timeline-itemR bg-dark rounded ml-3 p-4 shadow">
                                <div class="timeline-arrowR"></div>
                                <h3 class="h3 gras">Animateur en centre de loisir</h3>
                                <span class="small text-white">
                                    <i class="fa fa-clock-o mr-1"></i>De <span class="gras">2016</span> à <span class="gras">2019</span> à Comines.
                                </span>
                                <br>
                                <p class="text-small text-white mt-2 font-weight-light">
                                    J'ai travaillé pendant longtemps comme <span class="gras">animateur</span> au centre de loisir de ma ville natale.<span style="display: none;" id="plusAnimateur"> Cela a été ma première <span class="gars">vraie expérience</span> professionnelle.
                                    <span class="gras">Être responsable</span> d'un groupe d'enfants, devoir créer des histoires pour les faire <span class="gras">rêver</span>...<br>
                                    Tous ces mois de centre mon permis d'apprendre à faire <span class="gras">confiance à mon équipe</span> et à être rigoureux/exigeant avec moi-même.                          
                                </span></p>
                                <button onclick="lirePlus('Animateur')" id="BoutonLireAnimateur" class="btn btn-light">Lire plus</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="Realisations"></div>
            <br>  
            <br>
            <br>  
            <br>  
            <br>
            <h1 class="text-dark text-center display-4 gras">•&nbspRéalisations&nbsp•</h1> 
            <br>
            <br>
            <br>  
            <br>
            <br>
            <br>
            <br>
            <br>
        </section>

        <section class="section2">
            <div class="container text-center ">
                <div class="row text-left">
                    <div class="col pardessu">
                        <a href="Snake">
                            <div class="carteProjet card text-dark shadow" style="width: 20rem;">
                                <h2 class="h2 gras">Jeu snake</h2>
                                <img class="card-img-top" src="./images/projet-snake.png" alt="Projet">
                                <div class="card-body">
                                <p class="card-text">Si vous ne connaissez pas snake c'est que vous êtes probablement un extra-terrestre... <br> Bon allez je vous aide, les règles sont simples attraper le fruit en rouge sans toucher les bords ou se mordre la queue.</p>
                                <span class="badge badge-pill badge-warning" style="width: 80px;">Javascript</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col pardessu">
                        <a href="Demineur">
                            <div class="carteProjet card text-dark shadow" style="width: 20rem;">
                                <h2 class="h2 gras">Jeu du démineur</h2>
                                <img class="card-img-top" src="./images/projet-demineur.png" alt="Projet">
                                <div class="card-body">
                                <p class="card-text">Un classique aussi !<br> Sûrement un peu plus dur que le snake, les règles sont assez basiques les numéros indiquent le nombre de bombes autour de la case dans laquelle ils sont écrits.</p>
                                <span class="badge badge-pill badge-warning" style="width: 80px;">Javascript</span>
                                </div>
                            </div>
                        </a>
                    </div> <div class="col pardessu">
                        <a href="/Memory">
                            <div class="carteProjet card text-dark shadow" style="width: 20rem;">
                                <h2 class="h2 gras">Jeu memory</h2>
                                <img class="card-img-top" src="./images/projet-memory.png" alt="Projet">
                                <div class="card-body">
                                <p class="card-text">Ici, rien de plus simple !<br>Il suffit de retrouver les paires de cartes en faisant le moins de coups possible. Si vous retournez deux cartes n'ayant pas la même couleur et la même valeur le jeu les cache de nouveau.</p>
                                <span class="badge badge-pill badge-warning" style="width: 80px;">Javascript</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row text-left">
                    <div class="col">
                        <a href="#" data-toggle="modal" data-target="#modal3D">
                            <div class="carteProjet card text-dark shadow" style="width: 20rem;">
                                <h2 class="h2 gras">Modelisation 3D</h2>
                                <img class="card-img-top" src="./images/projet-modelisation3D.png" alt="Projet">
                                <div class="card-body">
                                <p class="card-text">Logiciel permettant d'afficher et de manipuler des fichers PLY. Les fichiers PLY sont des listes de triangles et de coordonnées qui représente un objet 3D. J'ai réalisé ce projet lors de mon DUT avec 3 de mes camarades.</p>
                                <span class="badge badge-pill badge-danger" style="width: 60px;">Java</span>
                                </div>
                            </div>
                        </a href="#">
                    </div>

                    <div class="modal fade" id="modal3D" tabindex="-1" role="dialog" aria-labelledby="#modal3D" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="h2 gras">Modelisation 3D</h2>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body text-center">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/HPtTlCmmcl0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                          </div>
                        </div>
                      </div>


                    <div class="col">
                        <a href="#" data-toggle="modal" data-target="#modalVariation">
                            <div class="carteProjet card text-dark shadow" style="width: 20rem;">
                                <h2 class="h2 gras">Convertisseur en nuance de gris</h2>
                                <img class="card-img-top" src="./images/projet-variation.png" alt="Projet">
                                <div class="card-body">
                                    <p class="card-text">Logiciel permettant de convertir des couleurs en nuances de gris. Utile lorsque vous n'avez plus de cartouches de couleurs dans votre imprimante et que vous ne voulez pas tout confondre.</p>
                                    <span class="badge badge-pill badge-danger" style="width: 60px;">Java</span>
                                </div>
                            </div>
                        </a>
                    </div> 
                    
                    <div class="modal fade" id="modalVariation" tabindex="-1" role="dialog" aria-labelledby="#modalVariation" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="h2 gras">Modelisation 3D</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-center">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Ah5hrjXzX5Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="carteProjet card text-dark shadow" style="width: 20rem;">
                            <h2 class="h2 gras">Stage chez Sofar</h2>
                            <img class="card-img-top" src="./images/projet-sofar.png" alt="Projet">
                            <div class="card-body">
                            <p class="card-text">Lors de mon stage à Zakynthos en Grèce, j'ai développé un service web permettant de fluidifier le réseau de bus local en se basant sur le nombre de personnes qui prenait le bus en fonction des arrêts, les tailles de bus, la distance à parcourir etc...</p>
                            <span class="badge badge-pill badge-danger" style="width: 60px;">Java</span>
                            <span class="badge badge-pill badge-warning" style="width: 80px;">Javascript</span>
                            <span class="badge badge-pill badge-info" style="width: 70px;">Tomcat</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Centre_dinteret"></div>
            <br>  
            <br>
            <br>  
            <br>  
            <br>
            <h1 class="text-dark text-center display-4 gras">•&nbspCentres&nbspd'intêret&nbsp•</h1> 
            <br>
            <br>
            <br>  
            <br>
            <br>
            <br>
            <br>
            <br>
        </section>

        <section class="section1">
            <div class="container text-center ">
                <div class="row text-left">
                    <div class="col pardessu">
                        <div class="carteProjet card text-dark shadow" style="width: 20rem;">
                            <h2 class="h2 gras">Le sport</h2>
                            <img class="card-img-top" src="./images/passion-snowboard.png" alt="Passion">
                            <div class="card-body">
                            <p class="card-text">Grand passionné de sport de glisse, j'ai commencé tout jeune avec le ski avant de passer au skateboard au snowboard. Ce que j'aime dans ses sports au delà de la sensation de vitesse. C'est cette motivation, cette acharnement qui nous pousse à toujours vouloir réaliser des figures plus belles que les autres.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col pardessu">
                        <div class="carteProjet card text-dark shadow" style="width: 20rem;">
                            <h2 class="h2 gras">Les voyages</h2>
                            <img class="card-img-top" src="./images/passion-bali.png" alt="Passion">
                            <div class="card-body">
                            <p class="card-text">L'inconnu ne me fait pas peur !<br>Bien que je sois un geek à mes heures perdues, j'aime beaucoup voyager. Découvrir la culture des autres pays, leurs coutumes, leur langue, leur cuisine, leurs paysages...</p>
                            </div>
                        </div>
                    </div> <div class="col pardessu">
                        <div class="carteProjet card text-dark shadow" style="width: 20rem;">
                            <h2 class="h2 gras">Les sciences</h2>
                            <img class="card-img-top" src="./images/passion-nebuleuse.png" alt="Passion">
                            <div class="card-body">
                            <p class="card-text">Je suis très curieux, j'ai toujours aimé essayer de comprendre le monde qui nous entoure. De la création de l'univers à l'apparition des premiers hommes, tout ce qui peut me donner des réponses aux questions qu'on se pose généralement entre 00h00 et 01h00 du matin, ça m'intéresse !</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Contact"></div>
            <br>  
            <br>
            <br>  
            <br>  
            <br>
            <h1 class="text-dark text-center display-4 gras">•&nbspContact&nbsp•</h1> 
            <br>
            <br>
            <br>
            <br>
            <br>
            <button id=modalMailBtn style="display:none;" data-toggle="modal" data-target="#modalMail"></button>
            <div class="modal fade" id="modalMail" tabindex="-1" role="dialog" aria-labelledby="#modalMail" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="h3 gras">Votre email à bien été envoyé !</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <button type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-box">
                <form method="POST">
                  <div class="form-group">
                    <label for="name">Nom (obligatoire)</label>
                    <input required="required" class="form-control" id="nom" type="text" name="Name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email (obligatoire)</label>
                    <input required="required" class="form-control" id="email" type="email" name="Email">
                  </div>
                  <div class="form-group">
                    <label for="email">Objet</label>
                    <input class="form-control" id="objet" type="text" name="Email">
                  </div>
                  <div class="form-group">
                    <label required="required" for="message">Message (obligatoire)</label>
                    <textarea class="form-control" id="message" name="Message"></textarea>
                  </div>
                  <input class="btn btn-outline-info" type="button" onclick="sendEmail()" value="Envoyer" style="width: 150px;" />
                  </div>
                </form>
              </div>
            <br>
            <br>
            <br>
        </section>

        <section class="section3">
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h3 class="gras">Contact</h3>
                        <span class="gras">Adresse e-mail</span>
                        <p>Nicolas_pereira27@hotmail.com</p>
                        <span class="gras">Téléphone</span>
                        <p>07 67 55 83 71</p>
                        <br>
                    </div>
                    <div class="col-sm">
                        <h3 class="gras">À propos</h3>
                        <p>Actuellement étudiant en Master MIAGE à l'université de Lille.</p>
                        <p>Je suis à la recherche d'un contrat d'alternance qui me permetterait de me former au métier de Développeur Web durant ma deuxième année de master.</p>
                        <p>Sur la métropole Lilloise.</p>
                        <br>
                    </div>
                    <div class="col-sm">
                        <h3 class="gras">Resaux sociaux</h3>
                        <br>
                        <a href="https://github.com/NicolasPereira1" class="btn">
                            <img src="./images/github.png" alt="github" width="50px"> 
                        </a>
                        <a href="https://www.linkedin.com/in/nicolas-pereira-lille/" class="btn">
                            <img src="./images/linkedin.png" alt="linkedin" width="50px"> 
                        </a>
                        <a href="https://www.facebook.com/nicolas.pereira.58173000/" class="btn">
                            <img src="./images/facebook.png" alt="facebook" width="50px"> 
                        </a>
                        <a href="https://www.instagram.com/nicolas._.pr/" class="btn">
                            <img src="./images/instagram.png" alt="instagram" width="50px"> 
                        </a>
                        <br><br>
                    </div>
                </div>
              </div>
        </section>
        <script src="https://smtpjs.com/v3/smtp.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
        <script>
            function lirePlus(nom) {
              var plusDeTexte = document.getElementById("plus"+nom);
              var bouton = document.getElementById("BoutonLire"+nom);
            
              if (plusDeTexte.style.display === "none") {
                bouton.innerHTML = "Lire moins"; 
                plusDeTexte.style.display = "inline";
              } else {
                bouton.innerHTML = "Lire plus"; 
                plusDeTexte.style.display = "none";
              }
            }
            
            function sendEmail() {
                var nom = document.getElementById("nom");
                var email = document.getElementById("email");
                var objet = document.getElementById("objet");
                var contenu = document.getElementById("message");

                Email.send({
                    Host: "smtp.elasticemail.com",
                    Username : "nico1999x99@gmail.com",
                    Password : "4B158FDCE661E94E5EE6AB87606D98452F10",
                    To : 'nicolas_pereira27@hotmail.com',
                    From : 'nico1999x99@gmail.com',
                    Subject : objet.value,
                    Body : contenu.value + "          Envoyé par : " + nom.value + "          Adresse : " + email.value

                //     To : 'nico1999x99@gmail.com',
                //     From : 'nico1999x99@gmail.com',
                //     Subject : "objet.innerHTML",
                //     Body : "contenu.innerHTML"
                }).then( message => {
                        let modalMailBtn = document.getElementById("modalMailBtn");
                        modalMailBtn.click();
                    }
                );
            }
        </script>
    </body>
    
    <footer>
        <br>
        <p class="text-sm-centre"><span class="gras">© 2020</span> - Nicolas PEREIRA</p>
        <img src="./images/node.png" alt="instagram" width="100px">
        <br>
        <br>
    </footer>
   
</html>
